@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2e3532;
}

.header {
    background-color: #66d7d1;
    height: 300px;
    margin-bottom: 20px;
}

.mainTitle {
    font-size: 60px;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .mainTitle {
        font-size: 30px;
    }
}

/**---------------- Search ---------------**/

#findAccommodation {
    text-align: left;
    font-size: 16px;
    z-index: 5;
    color: #66d7d1;
}

@media screen and (min-width: 992px) {
    #findAccommodation {
        font-size: 26px;
    }
}

@media screen and (min-width: 1200px) {
    #findAccommodation {
        font-size: 30px;
    }
}

#locationField {
    top: 0px;
    z-index: 5;
    border-radius:4px;
    border-color: transparent;
    background-color: #f0f0f0;
}

@media screen and (min-width: 992px) {
    #locationField {
        font-size: 26px;
    }
}

@media screen and (min-width: 1200px) {
    #locationField {
        font-size: 24px;
    }
}

.locationInput {
    background-color: #f0f0f0;
    border-radius:4px;
    border-color: transparent;
}

#controls {
    top: 0px;
    z-index: 5;
    background-color: #f0f0f0;
    border-radius:4px;
    height:100%;
}

#autocomplete {
    width: 100%;
    height:100%;
}

#country {
    width: 100%;
    border-radius: 4px;
    height:100%;
}


.typeSelector {
    color: #bada55;
    font-size: 20px;
    font-weight: normal;
    padding-right: 30px;
    margin: 10px;
    cursor: pointer;
}


.typeSelectorTitle {
    color: #bada55;
    font-weight: normal;
}

/**---------------- Navbar ---------------**/

ul.topnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #2e3532;
    margin-bottom: 0px;
    height: 140px;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    color: #66d7d1;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 768px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    ul.topnav {
        height: 100%;
    }
}

#googleMap {
    width: 100%;
    height: 600px;
}

.placesResults {
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #ffffff;
    border-top: solid 2px #66d7d1;
    border-bottom: solid 2px #66d7d1;
}

#searchResults li {
    margin: 10px;
}

.emptySearchResults {
    font-size: 20px;
    color: #2e3532;
}

/**---------------- Footer ---------------**/

.page-footer {
    position: relative;
    background-color: #2e3532;
    color: #bada55;
    min-height: 100%;
    padding-top: 30px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    margin: 0px;
}
